html {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(49, 49, 49);
    margin: 0px;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.center {
    justify-content: center;
    align-items: center;
}
.white {
    color: white;
}